.cover_front {
  height: 40%;
}

.full {
  background-image: url("../img/processor.png");
}

body {
  background: white;
  background-repeat: no-repeat;
}

.text-orange {
  color: rgb(168, 63, 77) !important;
}
a {
  text-decoration: none;
  color: rgb(168, 63, 77);
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: rgb(94, 255, 0);
}

.name_top {
  background-image: url("https://images.prismic.io//intuzwebsite/d394de11-2b7f-4a72-a3e0-c876f7356a40_Main.png?w=1200&q=80&auto=format,compress&fm=png8");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
}
hr {
  border-width: 0.3rem;
}

.img_store {
  height: 300px;
  width: 600px;
}

.margin_skill {
  margin-left: 30px;
}

.margin_skill_small {
  margin-left: 45px;
}

.circular-img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  /* Your CSS rules for screens lower than 800 pixels */
  .container {
    text-align: left;
  }
}
